*.suo
*.tmp
/*.dll
/*.exe
/*.opensdf
/*.sdf
/*.suo
/*.user
/*.vcxproj.user
/Debug
/KSDriverRegister/KSDriverRegister/bin/
/KSDriverRegister/KSDriverRegister/obj/
/KSDriverRegister/output/
/KeppySynth/*.dll
/KeppySynth/*.exe
/KeppySynth/*.exp
/KeppySynth/*.ilk
/KeppySynth/*.lib
/KeppySynth/*.obj
/KeppySynth/*.opensdf
/KeppySynth/*.pdb
/KeppySynth/*.sdf
/KeppySynth/*.suo
/KeppySynth/*.user
/KeppySynth/*.vcxproj.user
/KeppySynth/Debug
/KeppySynth/Release
/KeppySynth/ipch
/KeppySynth/out
/KeppySynth/output
/KeppySynth/x64
/KeppySynthConfigurator/KeppySynthConfigurator/bin
/KeppySynthConfigurator/KeppySynthConfigurator/obj
/KeppySynthDebugWindow/KeppySynthDebugWindow/bin/
/KeppySynthDebugWindow/KeppySynthDebugWindow/obj/
/KeppySynthDebugWindow/output/
/KeppySynthMixerWindow/KeppySynthMixerWindow/bin
/KeppySynthMixerWindow/KeppySynthMixerWindow/obj
/KeppySynthWatchdog/KeppySynthWatchdog/bin/
/KeppySynthWatchdog/KeppySynthWatchdog/obj/
/KeppySynthWatchdog/output/
/KeppySynthconfig
/Release
/ipch
/output/*.config
/output/*.dll
/output/*.manifest
/output/*.pdb
/output/*.xml
/output/64
/scripts
/sfpacker/*.dll
/sfpacker/*.exe
/sfpacker/*.opensdf
/sfpacker/*.sdf
/sfpacker/*.suo
/sfpacker/*.user
/sfpacker/*.vcxproj.user
/sfpacker/Debug
/sfpacker/Release
/sfpacker/ipch
KeppySynth.exe
KeppySynthcfg2.v12.suo
KeppySynthcfg2.v12.suo
KeppySynthcfg2/
README.txt
git_ver.h
output/*.vshost.exe
output/KeppySynthConfigurator.exe
output/KeppySynthDebugWindow.exe
output/KeppySynthMixerWindow.exe
output/KeppySynthWatchdog.exe
output/KeppysSynthSetup.exe