*.suo
*.suo
*.suo
*.tmp
/*.dll
/*.exe
/*.opensdf
/*.sdf
/*.suo
/*.user
/*.vcxproj.user
/Debug
/KeppyDriverConfigurator/KeppyDriverConfigurator/bin
/KeppyDriverConfigurator/KeppyDriverConfigurator/obj
/KeppyDrv/*.dll
/KeppyDrv/*.exe
/KeppyDrv/*.exp
/KeppyDrv/*.ilk
/KeppyDrv/*.lib
/KeppyDrv/*.obj
/KeppyDrv/*.opensdf
/KeppyDrv/*.pdb
/KeppyDrv/*.sdf
/KeppyDrv/*.suo
/KeppyDrv/*.user
/KeppyDrv/*.vcxproj.user
/KeppyDrv/Debug
/KeppyDrv/Release
/KeppyDrv/ipch
/KeppyDrv/out
/KeppyDrv/output
/KeppyDrv/x64
/KeppyDrvWasapi/*.dll
/KeppyDrvWasapi/*.exe
/KeppyDrvWasapi/*.exp
/KeppyDrvWasapi/*.ilk
/KeppyDrvWasapi/*.lib
/KeppyDrvWasapi/*.obj
/KeppyDrvWasapi/*.opensdf
/KeppyDrvWasapi/*.pdb
/KeppyDrvWasapi/*.sdf
/KeppyDrvWasapi/*.suo
/KeppyDrvWasapi/*.user
/KeppyDrvWasapi/*.vcxproj.user
/KeppyDrvWasapi/Debug
/KeppyDrvWasapi/Release
/KeppyDrvWasapi/ipch
/KeppyDrvWasapi/out
/KeppyDrvWasapi/output
/KeppyDrvWasapi/x64
/KeppyDriverWatchdog/KeppyDriverWatchdog/bin/
/KeppyDriverWatchdog/KeppyDriverWatchdog/obj/
/KeppyDriverWatchdog/output/
/Release
/ipch
/keppydrvconfig
/output/*.config
/output/*.dll
/output/*.manifest
/output/*.pdb
/output/*.xml
/output/64
/sfpacker/*.dll
/sfpacker/*.exe
/sfpacker/*.opensdf
/sfpacker/*.sdf
/sfpacker/*.suo
/sfpacker/*.user
/sfpacker/*.vcxproj.user
/sfpacker/Debug
/sfpacker/Release
/sfpacker/ipch
README.txt
git_ver.h
keppydrv.exe
keppydrvcfg2.v12.suo
keppydrvcfg2.v12.suo
keppydrvcfg2/
output/KeppyDriverConfigurator.exe
output/KeppyDriverConfigurator.vshost.exe
output/KeppyDriverWatchdog.exe
output/KeppyDriverWatchdog.vshost.exe