

*.suo
*.tmp
/*.dll
/*.exe
/*.opensdf
/*.sdf
/*.suo
/*.user
/*.vcxproj.user
/.vs
/Debug
/OmniMIDI/*.dll
/OmniMIDI/*.exe
/OmniMIDI/*.exp
/OmniMIDI/*.ilk
/OmniMIDI/*.lib
/OmniMIDI/*.obj
/OmniMIDI/*.opensdf
/OmniMIDI/*.pdb
/OmniMIDI/*.sdf
/OmniMIDI/*.suo
/OmniMIDI/*.user
/OmniMIDI/*.vcxproj.user
/OmniMIDI/.vs/
/OmniMIDI/Debug
/OmniMIDI/Release
/OmniMIDI/ipch
/OmniMIDI/out
/OmniMIDI/output
/OmniMIDI/64
/OmniMIDI/packages/
/OmniMIDIConfigurator/OmniMIDIConfigurator/Resources/LoudMax
/OmniMIDIConfigurator/OmniMIDIConfigurator/Resources/Text/TelemetryLoginData.txt
/OmniMIDIConfigurator/OmniMIDIConfigurator/bin
/OmniMIDIConfigurator/OmniMIDIConfigurator/obj
/OmniMIDIConfigurator/packages
/OmniMIDIConfiguratorXP
/OmniMIDIDebugWindow/OmniMIDIDebugWindow/bin/
/OmniMIDIDebugWindow/OmniMIDIDebugWindow/obj/
/OmniMIDIDebugWindow/output/
/OmniMIDIDriverRegister/OmniMIDIDriverRegister/bin/
/OmniMIDIDriverRegister/OmniMIDIDriverRegister/obj/
/OmniMIDIDriverRegister/output/
/OmniMIDIMixerWindow/OmniMIDIMixerWindow/bin
/OmniMIDIMixerWindow/OmniMIDIMixerWindow/obj
/OmniMIDIconfig
/OmniMapper/.vs/
/OmniMapper/OmniMapper/*.dll
/OmniMapper/OmniMapper/*.exe
/OmniMapper/OmniMapper/*.exp
/OmniMapper/OmniMapper/*.ilk
/OmniMapper/OmniMapper/*.lib
/OmniMapper/OmniMapper/*.obj
/OmniMapper/OmniMapper/*.opensdf
/OmniMapper/OmniMapper/*.pdb
/OmniMapper/OmniMapper/*.sdf
/OmniMapper/OmniMapper/*.suo
/OmniMapper/OmniMapper/*.user
/OmniMapper/OmniMapper/*.vcxproj.user
/OmniMapper/OmniMapper/ARM64
/OmniMapper/OmniMapper/Debug
/OmniMapper/OmniMapper/Release
/OmniMapper/OmniMapper/ipch
/OmniMapper/OmniMapper/out
/OmniMapper/OmniMapper/output
/OmniMapper/OmniMapper/x64
/Release
/external_packages/newmmddk.h
/external_packages/lib/*.dll
/external_packages/lib64/*.dll
/ipch
/sfpacker/*.dll
/sfpacker/*.exe
/sfpacker/*.opensdf
/sfpacker/*.sdf
/sfpacker/*.suo
/sfpacker/*.user
/sfpacker/*.vcxproj.user
/sfpacker/Debug
/sfpacker/Release
/sfpacker/ipch
/sign
OmniMIDI/signature.kep
OmniMIDIConfigurator/.vs/OmniMIDIConfigurator/v15/Server/sqlite3/storage.ide-wal
README.txt
Sign WinMM patches and BASS.bat
Sign and compile setup.bat
Sign runtime.bat
Sign, compile setup and create portable DLLs for devs.bat
output/*.config
output/*.dll
output/*.manifest
output/*.pdb
output/*.vshost.exe
output/*.xml
output/64
output/ARM64
output/OmniMIDIConfigurator.exe
output/OmniMIDIConfiguratorXP.exe
Sign WinMM patches.bat
Sign BASS.bat

output/DBG/
output/OmniMIDIDebugWindow.exe
output/OmniMIDIDev.zip
output/OmniMIDIDriverRegister.exe
output/OmniMIDIMixerWindow.exe
output/OmniMIDISetup.exe
output/OmniMIDIUpdate.exe
output/OmniMIDIWatchdog.exe
output/Test OmniMIDI Configurator.bat
output/OmniMIDIDevEnum.exe
OmniMapper/OmniMapper/OmniMIDI.h
OmniMIDIConfigurator/.vs/
OmniMIDIv2/.vs/
OmniMIDIv2/x64/Debug/bass.obj
OmniMIDIv2/x64/
OmniMIDIv2/OmniMIDI.vcxproj.user
OmniMIDIv2/bin/
OmniMIDIv2/packages/
