<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OmniMIDIConfigurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OmniMIDIConfigurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <OmniMIDIConfigurator.Properties.Settings>
            <setting name="LastWindowPos" serializeAs="String">
                <value>-9999, -9999</value>
            </setting>
            <setting name="LastWindowSize" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="LastListSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastImportExportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBrowserPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateBranch" serializeAs="String">
                <value>choose</value>
            </setting>
            <setting name="LiveChanges" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLoadList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SFColumnsSize" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>-1</int>
                        <int>-1</int>
                        <int>-1</int>
                        <int>-1</int>
                        <int>-1</int>
                        <int>-1</int>
                        <int>-1</int>
                        <int>-1</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="ShowChangelogStartUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSoundFontPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPatchPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DrawControlsFaster" serializeAs="String">
                <value>False</value>
            </setting>
        </OmniMIDIConfigurator.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <OmniMIDIConfigurator.Properties.Settings>
            <setting name="PreRelease" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SFColumnsDefSize" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>425</int>
                        <int>30</int>
                        <int>30</int>
                        <int>30</int>
                        <int>30</int>
                        <int>30</int>
                        <int>53</int>
                        <int>62</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="ProjectLink" serializeAs="String">
                <value>https://github.com/KeppySoftware/OmniMIDI</value>
            </setting>
            <setting name="SupportedFormats" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.sf1</string>
                        <string>.sf2</string>
                        <string>.sf2pack</string>
                        <string>.sfz</string>
                    </ArrayOfString>
                </value>
            </setting>
        </OmniMIDIConfigurator.Properties.Settings>
    </applicationSettings>
</configuration>