<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OmniMIDIConfigurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OmniMIDIConfigurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <OmniMIDIConfigurator.Properties.Settings>
            <setting name="LastWindowPos" serializeAs="String">
                <value>-9999, -9999</value>
            </setting>
            <setting name="LastWindowSize" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="LastListSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastImportExportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBrowserPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateBranch" serializeAs="String">
                <value>choose</value>
            </setting>
            <setting name="LiveChanges" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLoadList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SFColumnsSize" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>-1</int>
                        <int>-1</int>
                        <int>-1</int>
                        <int>-1</int>
                        <int>-1</int>
                        <int>-1</int>
                        <int>-1</int>
                        <int>-1</int>
                        <int>-1</int>
                        <int>-1</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="ShowChangelogStartUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSoundFontPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPatchPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DrawControlsFaster" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DonationShownWhen" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="DonationAlreadyShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotShowDonation" serializeAs="String">
                <value>False</value>
            </setting>
        </OmniMIDIConfigurator.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <OmniMIDIConfigurator.Properties.Settings>
            <setting name="SFColumnsDefSize" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>425</int>
                        <int>30</int>
                        <int>30</int>
                        <int>30</int>
                        <int>30</int>
                        <int>30</int>
                        <int>32</int>
                        <int>53</int>
                        <int>62</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="ProjectLink" serializeAs="String">
                <value>https://github.com/KeppySoftware/OmniMIDI</value>
            </setting>
            <setting name="SupportedFormats" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.sf1</string>
                        <string>.sf2</string>
                        <string>.sf2pack</string>
                        <string>.sfz</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PreReleaseBranch" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Pre-release branch</string>
                        <string>prerelease</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="StableBranch" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Stable branch</string>
                        <string>stable</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SlowBranch" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Slow branch</string>
                        <string>slow</string>
                    </ArrayOfString>
                </value>
            </setting>
        </OmniMIDIConfigurator.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
