<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.1.4" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="3.2.13" targetFramework="net45" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.11.2" targetFramework="net45" />
  <package id="Octokit" version="0.32.0" targetFramework="net45" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net40" />
</packages>