<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Fody" version="3.0.4" targetFramework="net40" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.8.4" targetFramework="net40" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net40" />
</packages>