<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="KeppySynthDebugWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <KeppySynthDebugWindow.Properties.Settings>
            <setting name="LeMessages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Better than VirtualMIDISynth.</string>
                        <string>The best soft-synth in the world.</string>
                        <string>I don't like Windows 95.</string>
                        <string>I love beautiful wood. Don't you?</string>
                        <string>Approved by Donald Trump.</string>
                        <string>Hey Scotty! Jesus man.</string>
                        <string>Now available for Android Oreo!</string>
                        <string>With 400% more potatoes.</string>
                        <string>* not supported by Apple.</string>
                        <string>Powered by NVIDIA GameWorks.</string>
                        <string>With full support for Windows 11!</string>
                        <string>Only for $49.99!</string>
                        <string>World War III ready.</string>
                        <string>MAH BOI.</string>
                        <string>Easter eggs not included.</string>
                    </ArrayOfString>
                </value>
            </setting>
        </KeppySynthDebugWindow.Properties.Settings>
    </applicationSettings>
</configuration>
