<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="OmniMIDIDebugWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <section name="KeppySynthDebugWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <OmniMIDIDebugWindow.Properties.Settings>
            <setting name="LeMessages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Only death will cure a fool.</string>
                        <string>One’s act, one’s profit.</string>
                        <string>Don't wait. The time will never be just right.</string>
                        <string>Life changes very quickly, in a very positive way, if you let it.</string>
                        <string>Be the labour great or small, do it well or not at all.</string>
                        <string>If unreason comes, reason goes.</string>
                        <string>Repentance never comes first.</string>
                        <string>The sky speaks in a thousand colours.</string>
                        <string>A coin to a cat.</string>
                        <string>Wake from death and return to life.</string>
                        <string>Forever is composed of nows.</string>
                        <string>Arbitration in a quarrel is a godsend.</string>
                        <string>There is luck in the last helping.</string>
                        <string>There's no accounting for taste.</string>
                        <string>Each person must live their life as a model for others.</string>
                        <string>Once a task is just begun, never leave it till it's done.</string>
                        <string>Giving up at the first sign of difficulty.</string>
                        <string>Change the world by being yourself.</string>
                        <string>Aspire to inspire before we expire.</string>
                        <string>Evil cause, evil effect</string>
                        <string>Fall down seven times, stand up eight.</string>
                        <string>You may think I’m small, but I have a universe inside my mind.</string>
                        <string>The fallen blossom returns not to the bough.</string>
                        <string>The eyes are the mirror of the soul.</string>
                        <string>Keep your face always toward the sunshine, and shadows will fall behind you.</string>
                        <string>A year spent in artificial intelligence is enough to make one believe in God.</string>
                        <string>The programmer must seek both perfection of part and adequacy of collection.</string>
                        <string>Most people would rather be certain they’re miserable, than risk being happy.</string>
                        <string>Nothing is impossible. The word itself says "I'm possible!".</string>
                        <string>The weak are meat; the strong eat.</string>
                        <string>Let us make our future now, and let us make our dreams tomorrow's reality.</string>
                        <string>Heart rather than appearance.</string>
                        <string>You are enough just as you are.</string>
                        <string>No matter what you're going through, there's a light at the end of the tunnel.</string>
                        <string>Believe you can and you're halfway there.</string>
                        <string>The more stupid the child the dearer it is.</string>
                        <string>Die with memories, not dreams.</string>
                        <string>Poke a bush, a snake comes out.</string>
                        <string>Keep your face to the sunshine and you cannot see a shadow.</string>
                        <string>Everyone makes mistakes.</string>
                        <string>It is foolish to deal with a fool.</string>
                        <string>Different body, same mind.</string>
                        <string>Some people look for a beautiful place. Others make a place beautiful.</string>
                        <string>Be the change that you wish to see in the world.</string>
                        <string>Farm when it's sunny, read when it rains.</string>
                        <string>Every moment is a fresh beginning.</string>
                        <string>Time flies like an arrow.</string>
                        <string>Love takes off masks that we fear we cannot live without and know we cannot live within.</string>
                        <string>Ignorance is bliss.</string>
                        <string>The bad news is time flies. The good news is you're the pilot.</string>
                        <string>Act as if what you do makes a difference. It does.</string>
                        <string>A bad wife is a ruin of her husband.</string>
                        <string>Forgive and forget.</string>
                        <string>A weirdo but I'm real though.</string>
                        <string>Never regret anything that made you smile.</string>
                        <string>The giving of love is an education in itself.</string>
                        <string>No matter what people tell you, words and ideas can change the world.</string>
                        <string>You get what you give.</string>
                        <string>The environment makes our characters.</string>
                        <string>Perseverance is better than defeat.</string>
                        <string>If I cannot do great things, I can do small things in a great way.</string>
                        <string>Happiness is when what you think, what you say, and what you do are in harmony.</string>
                        <string>Perfect is the enemy of good.</string>
                        <string>It is never too late to be what you might have been.</string>
                        <string>Don't let yourself be taken advantage of.</string>
                        <string>Stay close to anything that makes you glad you are alive.</string>
                        <string>Limit your "always" and your "nevers".</string>
                        <string>Happy people plan actions, they don’t plan results.</string>
                        <string>Fear is greater than the danger.</string>
                        <string>Success is not final, failure is not fatal: it is the courage to continue that counts.</string>
                        <string>Cover the ears and steal the bell.</string>
                        <string>Good things, many devils.</string>
                        <string>Disappear without a trace.</string>
                        <string>Never perfect - always genuine. Be yourself.</string>
                        <string>Different strokes for different folks.</string>
                        <string>It's no use crying over spilt milk.</string>
                        <string>Own who you are.</string>
                        <string>Who chases two rabbits catches neither.</string>
                        <string>Try to be a rainbow in someone else's cloud.</string>
                        <string>A splendid child born from common parents.</string>
                        <string>Even a fool has one talent.</string>
                        <string>My mission in life is not merely to survive, but to thrive.</string>
                        <string>Spilt water will not return to the tray.</string>
                        <string>Love for all, hatred for none.</string>
                        <string>Happiness often sneaks in through a door you didn't know you left open.</string>
                        <string>Never bend your head. Always hold it high. Look the world straight in the eye.</string>
                        <string>Drunken life, dreamy death.</string>
                        <string>To gamble as the dice fall.</string>
                        <string>When you have a dream, you've got to grab it and never let go.</string>
                    </ArrayOfString>
                </value>
            </setting>
        </OmniMIDIDebugWindow.Properties.Settings>
        <KeppySynthDebugWindow.Properties.Settings>
            <setting name="LeMessages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Now 20% cooler!</string>
                        <string>AMOLED screens are not supported.</string>
                        <string>Now with Google AdSense support!</string>
                        <string>I don't like Windows 95.</string>
                        <string>A Hideo Kojima Game.</string>
                        <string>World War III ready.</string>
                        <string>Powered by NVIDIA GameWorks.</string>
                        <string>No gods or kings. Only man.</string>
                        <string>This is a line.</string>
                        <string>Now available for Android Oreo!</string>
                        <string>Featuring Dante from the DmC series.</string>
                        <string>Now with overclocking capabilities!</string>
                        <string>自業自得。</string>
                        <string>Haha same.</string>
                        <string>Easter eggs not included.</string>
                        <string>With full support for Windows 11!</string>
                        <string>I hear something.</string>
                        <string>I love beautiful wood. Don't you?</string>
                        <string>Approved by Donald Trump.</string>
                        <string>You are dead. Not big surprise!</string>
                        <string>This is a test. Congratulations!</string>
                        <string>My Hero Academia is the best anime.</string>
                        <string>In-App purchases included!</string>
                        <string>Only for $49.99!</string>
                        <string>|     | |     | |     |__</string>
                        <string>YAHOO YAYAYAYAYAYAHOOOOO!</string>
                        <string>&amp;&amp; Knuckles!</string>
                        <string>Blinx is my waifu.</string>
                        <string>Made with love by a furfag.</string>
                        <string>It sure is boring around here...</string>
                        <string>With 400% more potatoes.</string>
                        <string>I am the mustard of your doom!</string>
                        <string>Running on Java 1.7.0.</string>
                        <string>This is not a drill!</string>
                        <string>Put that down, it's a prototype.</string>
                        <string>Wahoo!</string>
                        <string>Perhaps.</string>
                        <string>The best soft-synth in the world.</string>
                        <string>Apple Dash and Pinkie Sparkle.</string>
                        <string>The real deal! Sort of.</string>
                        <string>Hey Scotty! Jesus man.</string>
                        <string>I can't believe you've done this.</string>
                        <string>You know I had to do it to them.</string>
                        <string>* not supported by Apple.</string>
                        <string>Ching chong!</string>
                        <string>Better than VirtualMIDISynth.</string>
                    </ArrayOfString>
                </value>
            </setting>
        </KeppySynthDebugWindow.Properties.Settings>
    </applicationSettings>
</configuration>
