<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="OmniMIDIDebugWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <section name="KeppySynthDebugWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <OmniMIDIDebugWindow.Properties.Settings>
            <setting name="LeMessages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>One’s act, one’s profit.</string>
                        <string>Wake from death and return to life.</string>
                        <string>The weak are meat; the strong eat.</string>
                        <string>Evil cause, evil effect</string>
                        <string>Drunken life, dreamy death.</string>
                        <string>Different body, same mind.</string>
                        <string>Spilt water will not return to the tray.</string>
                        <string>Fall down seven times, stand up eight.</string>
                        <string>A splendid child born from common parents.</string>
                        <string>The fallen blossom returns not to the bough.</string>
                        <string>Perfect is the enemy of good.</string>
                        <string>Who chases two rabbits catches neither.</string>
                        <string>Everyone makes mistakes.</string>
                        <string>There's no accounting for taste.</string>
                        <string>Ignorance is bliss.</string>
                        <string>Perseverance is better than defeat.</string>
                        <string>Giving up at the first sign of difficulty.</string>
                        <string>Fear is greater than the danger.</string>
                        <string>Only death will cure a fool.</string>
                        <string>Don't let yourself be taken advantage of.</string>
                        <string>Arbitration in a quarrel is a godsend.</string>
                        <string>Forgive and forget.</string>
                        <string>Farm when it's sunny, read when it rains.</string>
                        <string>Different strokes for different folks.</string>
                        <string>Disappear without a trace.</string>
                        <string>Good things, many devils.</string>
                        <string>Time flies like an arrow.</string>
                        <string>The eyes are the mirror of the soul.</string>
                        <string>Cover the ears and steal the bell.</string>
                        <string>To gamble as the dice fall.</string>
                        <string>The more stupid the child the dearer it is.</string>
                        <string>It is foolish to deal with a fool.</string>
                        <string>Heart rather than appearance.</string>
                        <string>If unreason comes, reason goes.</string>
                        <string>Poke a bush, a snake comes out.</string>
                        <string>Even a fool has one talent.</string>
                        <string>A coin to a cat.</string>
                        <string>Repentance never comes first.</string>
                        <string>The environment makes our characters.</string>
                        <string>It's no use crying over spilt milk.</string>
                        <string>There is luck in the last helping.</string>
                        <string>A bad wife is a ruin of her husband.</string>
                    </ArrayOfString>
                </value>
            </setting>
        </OmniMIDIDebugWindow.Properties.Settings>
        <KeppySynthDebugWindow.Properties.Settings>
            <setting name="LeMessages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Now 20% cooler!</string>
                        <string>AMOLED screens are not supported.</string>
                        <string>Now with Google AdSense support!</string>
                        <string>I don't like Windows 95.</string>
                        <string>A Hideo Kojima Game.</string>
                        <string>World War III ready.</string>
                        <string>Powered by NVIDIA GameWorks.</string>
                        <string>No gods or kings. Only man.</string>
                        <string>This is a line.</string>
                        <string>Now available for Android Oreo!</string>
                        <string>Featuring Dante from the DmC series.</string>
                        <string>Now with overclocking capabilities!</string>
                        <string>自業自得。</string>
                        <string>Haha same.</string>
                        <string>Easter eggs not included.</string>
                        <string>With full support for Windows 11!</string>
                        <string>I hear something.</string>
                        <string>I love beautiful wood. Don't you?</string>
                        <string>Approved by Donald Trump.</string>
                        <string>You are dead. Not big surprise!</string>
                        <string>This is a test. Congratulations!</string>
                        <string>My Hero Academia is the best anime.</string>
                        <string>In-App purchases included!</string>
                        <string>Only for $49.99!</string>
                        <string>|     | |     | |     |__</string>
                        <string>YAHOO YAYAYAYAYAYAHOOOOO!</string>
                        <string>&amp;&amp; Knuckles!</string>
                        <string>Blinx is my waifu.</string>
                        <string>Made with love by a furfag.</string>
                        <string>It sure is boring around here...</string>
                        <string>With 400% more potatoes.</string>
                        <string>I am the mustard of your doom!</string>
                        <string>Running on Java 1.7.0.</string>
                        <string>This is not a drill!</string>
                        <string>Put that down, it's a prototype.</string>
                        <string>Wahoo!</string>
                        <string>Perhaps.</string>
                        <string>The best soft-synth in the world.</string>
                        <string>Apple Dash and Pinkie Sparkle.</string>
                        <string>The real deal! Sort of.</string>
                        <string>Hey Scotty! Jesus man.</string>
                        <string>I can't believe you've done this.</string>
                        <string>You know I had to do it to them.</string>
                        <string>* not supported by Apple.</string>
                        <string>Ching chong!</string>
                        <string>Better than VirtualMIDISynth.</string>
                    </ArrayOfString>
                </value>
            </setting>
        </KeppySynthDebugWindow.Properties.Settings>
    </applicationSettings>
</configuration>
