<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="KeppySynthDebugWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <KeppySynthDebugWindow.Properties.Settings>
            <setting name="LeMessages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Now 20% cooler!</string>
                        <string>AMOLED screens are not supported.</string>
                        <string>Now with Google AdSense support!</string>
                        <string>I don't like Windows 95.</string>
                        <string>A Hideo Kojima Game.</string>
                        <string>World War III ready.</string>
                        <string>Powered by NVIDIA GameWorks.</string>
                        <string>No gods or kings. Only man.</string>
                        <string>This is a line.</string>
                        <string>Now available for Android Oreo!</string>
                        <string>Featuring Dante from the DmC series.</string>
                        <string>Now with overclocking capabilities!</string>
                        <string>自業自得。</string>
                        <string>Haha same.</string>
                        <string>Easter eggs not included.</string>
                        <string>With full support for Windows 11!</string>
                        <string>I hear something.</string>
                        <string>I love beautiful wood. Don't you?</string>
                        <string>Approved by Donald Trump.</string>
                        <string>You are dead. Not big surprise!</string>
                        <string>This is a test. Congratulations!</string>
                        <string>My Hero Academia is the best anime.</string>
                        <string>In-App purchases included!</string>
                        <string>Only for $49.99!</string>
                        <string>|     | |     | |     |__</string>
                        <string>YAHOO YAYAYAYAYAYAHOOOOO!</string>
                        <string>&amp;&amp; Knuckles!</string>
                        <string>Blinx is my waifu.</string>
                        <string>Made with love by a furfag.</string>
                        <string>It sure is boring around here...</string>
                        <string>With 400% more potatoes.</string>
                        <string>I am the mustard of your doom!</string>
                        <string>Running on Java 1.7.0.</string>
                        <string>This is not a drill!</string>
                        <string>Put that down, it's a prototype.</string>
                        <string>Wahoo!</string>
                        <string>Perhaps.</string>
                        <string>The best soft-synth in the world.</string>
                        <string>Apple Dash and Pinkie Sparkle.</string>
                        <string>The real deal! Sort of.</string>
                        <string>Hey Scotty! Jesus man.</string>
                        <string>I can't believe you've done this.</string>
                        <string>You know I had to do it to them.</string>
                        <string>* not supported by Apple.</string>
                        <string>Ching chong!</string>
                        <string>Better than VirtualMIDISynth.</string>
                    </ArrayOfString>
                </value>
            </setting>
        </KeppySynthDebugWindow.Properties.Settings>
    </applicationSettings>
</configuration>
